{% extends "base_templates/base.html" %}

{% block title %}{{_("Home")}}{% endblock %}

{% block body %}
<div id="imgCarousel" class="carousel slide" data-bs-ride="carousel">
	<div class="carousel-indicators">
	    <button type="button" data-bs-target="#imgCarousel" data-bs-slide-to="0" class="active"></button>
	    <button type="button" data-bs-target="#imgCarousel" data-bs-slide-to="1"></button>
	    <button type="button" data-bs-target="#imgCarousel" data-bs-slide-to="2"></button>
	</div>
	
	<div class="carousel-inner">
		<div class="carousel-item active">
			<img src="{{url_for("static", filename="img/carousel/placeholder2.png")}}">

			<div class="carousel-caption">
				<h1>{{_("ICS Newspaper")}}</h1>
				<p>{{_("A large publication about school-related and non-school-related topics. Published once every 14 days.")}}</p>
				<p><a class="btn btn-md btn-outline-light" href="{{url_for("newspaper_pages.index")}}">{{_("View Latest Newspaper")}}</a></p>
			</div>
	    </div>

		<div class="carousel-item">
			<img src="{{url_for("static", filename="img/carousel/placeholder2.png")}}">

			<div class="carousel-caption">
				<h1>{{_("ICS News Blog")}}</h1>
				<p>{{_("Small publications about different topics. Published randomly.")}}</p>
				<p><a class="btn btn-md btn-outline-light" href="{{url_for("blog_pages.index")}}">{{_("Go To ICS Blog")}}</a></p>
			</div>
	    </div>

	    <div class="carousel-item">
			<img src="{{url_for("static", filename="img/carousel/placeholder2.png")}}">

			<div class="carousel-caption">
				<h1>{{_("ICS School Updates")}}</h1>
				<p>{{_("Important news, events, and other updates regarding International Canadian School")}}</p>
				<p><a class="btn btn-md btn-outline-light" href="{{url_for("school_updates")}}">{{_("Go To School Updates")}}</a></p>
			</div>
	    </div>
	</div>
	
	<button class="carousel-control-prev" type="button" data-bs-target="#imgCarousel" data-bs-slide="prev">
	    <span class="carousel-control-prev-icon"></span>
	</button>
	
	<button class="carousel-control-next" type="button" data-bs-target="#imgCarousel" data-bs-slide="next">
	    <span class="carousel-control-next-icon"></span>
	</button>
</div>

<div class="bg-dark text-light shadow" id="about">
	<h1 class="text-center pt-5">{{_("About ICS News")}}</h1>

	<div class="container py-5">
		<div class="row row-cols-1 row-cols-sm-2 g-3">
			<div class="col pe-lg-3">
				<img class="card-img rounded-3 shadow w-100" src="{{url_for("static", filename="img/carousel/placeholder3.png")}}">
			</div>
	
			<div class="col">
				<div class="card-body">
					<p class="card-text">
						{{_("
							ICS News is a news publication project at İzmir International Canadian School (ICS).
							All publications are written and edited by ICS students. TODO: Add more to about section.
							")}}
					</p>
				</div>
			</div>
		</div>
	</div>
</div>

<h1 class="text-center pt-5">{{_("Latest Posts")}}</h1>

<div class="album pb-sm-5 pt-4 pb-4">
	<div class="container">
		<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
			{% for post in posts %}
			<div class="col">
				<div class="card shadow">
					<img class="card-img-top w-100" src="{{url_for("static", filename=post.thumb_url)}}">

					<div class="card-body">
						<p class="card-text">{{post.title}}</p>
							
						<div class="d-flex justify-content-between align-items-center">
							<a href="{{post.url}}" class="btn btn-sm btn-outline-secondary">{{_("Read More")}}</a>
							<small class="text-muted">{{post.read_dur}}</small>
						</div>
					</div>
				</div>
			</div>
			{% else %}
			<p class="my-5">Oops no posts were found!<br> 
			This is probably a bug, please report it to: 
			<a href="mailto:samyarsadat@gigawhat.net">samyarsadat@gigawhat.net</a></p>
			{% endfor %}
		</div>
	</div>
</div>

<div class="container">
	<div class="text-center mb-5 mt-3 border-light border-1 border bg-white shadow rounded-3 p-3">
		<div class="d-inline display-6" style="font-size: 30px;">{{_("Views in the past month:")}}</div>
		<div class="text-primary d-inline display-6" style="font-size: 25px;">{{page_views}}</div>
	</div>
</div>
{% endblock %}