{% extends "base_templates/base.html" %}

{% block title %}{{_("School Updates")}}{% endblock %}

{% block body %}
<div class="container my-4">
    <h2 class="text-center fw-bold">{{_("School Updates")}}</h2>
	
    {% for post in posts %}
    <div id="{{loop.index}}" class="my-5 px-4 border-light border-1 border bg-white shadow rounded-3 p-3">
		<p class="d-inline fw-bold" style="font-size: 21px;">{{post.title}}</p>
        <div class="text-secondary float-md-end">
            {{post.date_time}} <br>
            {{post.category.get(get_locale() | string)}}
        </div>
        <div class="text-primary">{{post.author}}</div>
        
        
        <hr class="mt-2 mb-4">
            {{post.body | safe}}
        </ul>
	</div>
    {% else %}
    <p class="my-5">Oops no posts were found!<br> 
    This is probably a bug, please report it to: 
    <a href="mailto:samyarsadat@gigawhat.net">samyarsadat@gigawhat.net</a></p>
    {% endfor %}

    <div class="d-lg-none d-block m-5">ㅤ</div>
    <div class="d-lg-none d-block m-4">ㅤ</div>
</div>
{% endblock %}

{% block footer %}fixed-bottom{% endblock %}